CAMTACTE_LISTEN=:8443
CAMTACTE_DATA_DIR=/data
CAMTACTE_DATABASE=/data/camtacte.db
CAMTACTE_PUBLIC_URL=https://camtacte.local:8443
CAMTACTE_TLS_CERT=/data/tls/server.crt
CAMTACTE_TLS_KEY=/data/tls/server.key
CAMTACTE_MASTER_KEY_FILE=/data/secrets/master.key
CAMTACTE_MEDIA_URL=http://mediamtx:8888
CAMTACTE_MEDIA_API=http://mediamtx:9997
CAMTACTE_MEDIA_RECORDINGS=/data/recordings
